ENVIRONMENT=development
DEBUG=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ticketing
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

BOT_TOKEN=replace_me
MINIAPP_URL=http://localhost:3000
